body { 
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#background {
	height: 100%;
	width: 100%;
	background-image: url(images/DSC_0327_BW.jpg); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	position: absolute;
	background-position: right bottom;
}

#nav {
	margin: 10px;
	text-align: center;
	background: #D5D5D5;
	padding: 15px;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;

	font-variant: small-caps;
	font-family: serif;
	font-size: large;
	font-color: black;
}



#name {
	font-variant: small-caps;
	font-family: serif;
	font-size: xx-large;
}

@media screen and (min-width: 992px) {
	#nav {
		margin: 85px;
		text-align: left;
		max-width: 100%;
	}
	#background {
		background-image: url(images/DSC_0327_BW.jpg); 
	}
}