body {
	background-color: black;
}

#background {
	height: 100%;
	width: 100%;
	background-image: url(images/photos_bkgrnd.jpg); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	position: absolute;
}

.row .thumbnail {
    border:0;
    box-shadow:0;
    border-radius:0;
    background-color: transparent;
}