body {
	background-color: black;
}

.container_temp {
    margin: 75px auto;
    font-family: 'Raleway', sans-serif;
}

section.section.parallax {
  height: 150px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.section.parallax-2 {
  background-image: url("covers/tahoe.jpg");
  background-attachment: scroll;
}
.image-container {
	position: relative;
}
#hide {
	background-color: #000;
	height: 150px;
	width: 100%;
	opacity: 0.8;
	position: absolute;
	z-index: 1;
}

h2 { 
   /*position: absolute; 
   top: 20%; 
   left: 0;
   text-align: center; 
   width: 100%; */
}

#cover {
	opacity: .2;
	min-height: 400px;
	overflow-x: hidden;
}

#title {
	text-align: center;
	font-weight:100;
	font-size:30pt;
	color: white;
	padding-top: 60px;
	z-index: 2;
	position: relative;
}

.date {
	color: #ffa07a;
}

.row .thumbnail {
    border:0;
    box-shadow:0;
    border-radius:0;
    background-color: transparent;
    text-align: center;
    margin-bottom: 0px;
}

#nav {
	text-align: center;
	background: #D5D5D5;
	padding: 10px;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;

	font-family: 'Raleway', sans-serif;
	font-size: x-large;
	font-weight:100;
	
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    -webkit-box-shadow:0px 0px 20px rgba(44,44,44,.3);
}

#nav a {
	text-decoration: none;
	color: black;
}

#name {
	font-family: 'Raleway', sans-serif;
	font-size: 200%;
}

.navbar-nav {
	padding-top: 8px;
}

#home {
	border-bottom:3px solid #000;
	padding-left: 10px;
	padding-right: 10px;
	margin-left:10px;
    margin-right:10px;
    width: 100px;
    
}

#home:hover {
	border-bottom:3px solid #000 !important;
}

#about:hover {
	border-bottom:3px solid #000 !important;
}

#photos:hover {
	border-bottom:3px solid #000 !important;
}

#about {
	padding-left: 10px;
	padding-right: 10px;
	margin-left:15px;
    margin-right:15px;
    width: 100px;
    
}

#photos {
	padding-left: 10px;
	padding-right: 10px;
	margin-left:15px;
	width: 100px;
	
}

@media (max-width: 768px) { 
  	#home {
    	margin: auto;
    	padding-bottom: 5px;
	}
	#about {
		margin: auto;
		padding-bottom: 5px;
    	padding-top: 5px;
	}
	#photos {
		margin: auto;
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.navbar-default div.navbar-collapse {
	    border-top: 1px solid #d9d9d9;
	    box-shadow:none;
	}
}

#gallery {
	padding-top: 20px;
}

#gallery .col-xs-4 {
    padding: 1px;
    margin-bottom: 0;
}

#gallery .col-md-2 {
    padding: 1px;
    margin-bottom: 0;
}

#gallery.row {
    margin-bottom: -15px;
    margin-top: -15px;
}

.container {
	margin-bottom: 50px;
}